.container {
	font-family: ff-tisa-web-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
	text-align: center;
	color: rgb(51, 51, 50);
	font-size: 18px;
}

h1 {
	font-size: 32px;
	font-weight: bold;
}

#title {
	margin-bottom: 40px;
	font-size: 28px;
	font-weight: bold;
}

.header {
	margin-bottom: 40px;
}

.text {
	color: #636363
}

.value {
	margin-left: 20px;
	margin-right: 10px;
	font-size: 28px;
	color: rgb(51, 51, 50);
	
}

li {
	position: relative;
	border-bottom: 1px solid #e4e4e4
}

.stats {
	margin-top: 20px;
	margin-bottom: 20px;
}

.title {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
}

#expl {
	font-size: 16px;
	color: rgb(179, 179, 177);
}