doctype 5
html
    head
        title Disqover
        link(rel='stylesheet', href='/stylesheets/avg-posts.css')
        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(src="/javascripts/avg-posts.js")
    body
        .container
            .header
                h1 DISQOVER
                #expl The average posts per article ratio for a given forum
            #data-div
              #title #{data.forum}
                p
              #sum articles investigated:.....
                <span> #{data.posts}
                p
              #avg posts per article:.....
                <span> #{data.avg}